.header-container {
  position: relative;
  background: url("../../img/heroCooking.jpg") no-repeat center center / cover;
  height: 70vh;
  width: 100%;
}

.header-container::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 70vh;
  background-color: rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 767px) {
  .header-container,
  .header-container::after {
    height: 60vh;
  }
}
