footer {
  height: 400%;
  padding: 2rem;
  background-image: linear-gradient(to bottom, #f4f4f4, var(--secondary-color));
}

.footer-content {
  background-color: #fff;
  height: auto;
  padding: 3rem;
  margin: 0 auto;
  box-shadow: 13px 13px 15px rgba(136, 253, 26, 0.4);
  z-index: 100;
}

.brand {
  font-family: "Berkshire Swash", sans-serif;
  color: rgb(146, 146, 20);
  font-size: 3rem;
  margin: -3rem 0 3rem;
  text-align: center;
  text-decoration: none;
}
.brand:hover {
  text-decoration: none;
  color: rgb(146, 146, 20);
}

.footer-content h6 {
  margin-bottom: 1.5rem;
}

.footer-content input {
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  padding: 0.5rem;
  margin: 1rem 0.25rem;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social i {
  margin: 1.5rem 0.25rem 0;
  color: var(--secondary-color);
}

@media only screen and (max-width: 767px) {
  .footer {
    padding: 1rem 0.5rem;
  }

  .footer-content {
    padding: 1rem 1.5rem;
  }

  .brand {
    margin: 0 0 1.5rem;
    font-size: 1.5rem;
  }

  .footer-content h6 {
    margin-bottom: 0.5rem;
  }
}
